
.brainrot{
    width: 300px;
    height: 300px
}
nav ul {display:block;list-style-type: none;border-radius: 10;}

nav ul li{float:left;text-decoration: none;}
body {background-color: #1f3a56; color: lightgray;}
nav ul li a{display: block;
            color: rgb(226, 219, 219);
            text-align: center;
            padding: 14px 16px;
            text-decoration: none;
            background-color: #006A67;
        text-decoration: none;}

nav ul li a:hover{background-color:#022f2e;text-decoration: none;}
ul li a.active {
  background-color: #006A67;;
}


.mainerino {
    text-align:center;
    clear:left; 
    padding: 15px 15px; 
    margin-left:25px
}

.Images {
    display: flex;
    justify-content: center;
    gap: 50px;
    margin-top:20px;
}

.ImageBit {
    text-align:center;
    width: 250px;
}

.ImageBit img {
    width:250px;
    border-radius: 10px;
    height:auto
}