
.brainrot{
    width: 300px;
    height: 300px
}

nav ul {display:block;list-style-type: none;border-radius: 0; margin-top:10px ;  height:10vh; width:60vw; justify-content: space-around;}

nav ul li{float:left;text-decoration: none;}
body {background-color: #1f3a56;color:#f1eacd;width:97vw;}
nav ul li a{display: inline-block;
            color: #f1eacd;
            text-align: center;
            padding: 15px 15px;
            text-decoration: none;
            background-color: #006A67;
        text-decoration: none;}

nav ul li a:hover{background-color:#022f2e;text-decoration: none;}
ul li a.active {
  background-color: #006A67;;
}

.algogiff{
    width: 300px;
    height: 300px;
    border-radius: 10px;
    width: auto;
}


.mainerino {
    text-align:center;
    clear:left; 
    padding: 15px 15px;
    width: 97vw; 
}

.Images {
    display: flex;
    justify-content: center;
    gap: 50px;
    margin-top:20px;    
}

.ImageBit {
    text-align:center;
    width: 350px;
}

.ImageBit img {
    width:350px;
    border-radius: 10px;
    height:auto;
    margin-bottom: 20px
}

.home h2{clear:left;padding: 10px 10px;margin-top:30px;margin-left:25px;overflow: hidden;}
p{clear:none;padding: 15px 15px;margin-left:25px;overflow: hidden;}
aside p{clear:none;float:right;width: 20%;margin-left: 20px;margin-right:20px;}

#hpage_img {margin-left:40px; width:45%; border-radius: 15px;}