
.brainrot{
    width: 100px;
    height: 100px
}
nav ul {display:block;list-style-type: none;border-radius: 10;}

nav ul li{float:left;text-decoration: none;}
body {background-color: #003161;}
nav ul li a{display: block;
            color: rgb(226, 219, 219);
            text-align: center;
            padding: 14px 16px;
            text-decoration: none;
            background-color: #006A67;
        text-decoration: none;}

nav ul li a:hover{background-color:#022f2e;text-decoration: none;}
ul li a.active {
  background-color: #006A67;;
}